-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('ADMIN', 'ORGANIZATION', 'VENDOR');

-- CreateEnum
CREATE TYPE "UserStatus" AS ENUM ('PENDING', 'ACTIVE', 'SUSPENDED', 'DELETED');

-- CreateEnum
CREATE TYPE "VendorStatus" AS ENUM ('ACTIVE', 'SUSPENDED', 'DEACTIVATED');

-- CreateEnum
CREATE TYPE "VendorApplicationStatus" AS ENUM ('DRAFT', 'SUBMITTED', 'UNDER_REVIEW', 'NEEDS_INFORMATION', 'APPROVED', 'REJECTED', 'WITHDRAWN');

-- CreateEnum
CREATE TYPE "VendorApplicationRequirementStatus" AS ENUM ('OUTSTANDING', 'SUBMITTED', 'UNDER_REVIEW', 'SATISFIED', 'REJECTED', 'NEEDS_INFORMATION', 'NOT_APPLICABLE');

-- CreateEnum
CREATE TYPE "VendorEvidenceStatus" AS ENUM ('PENDING', 'ACCEPTED', 'REJECTED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "VendorVerificationActionType" AS ENUM ('SUBMITTED', 'STARTED_REVIEW', 'REQUESTED_INFORMATION', 'EVIDENCE_ACCEPTED', 'EVIDENCE_REJECTED', 'REQUIREMENT_SATISFIED', 'REQUIREMENT_REJECTED', 'APPROVED', 'REJECTED', 'WITHDRAWN');

-- CreateEnum
CREATE TYPE "OrganizationMemberRole" AS ENUM ('OWNER', 'ADMIN', 'PROCUREMENT_MANAGER', 'EVALUATOR', 'FINANCE', 'MEMBER');

-- CreateEnum
CREATE TYPE "OrganizationType" AS ENUM ('GOVERNMENT', 'LOCAL_GOVERNMENT', 'NGO', 'INTERNATIONAL_NGO', 'PRIVATE_COMPANY', 'SCHOOL_UNIVERSITY', 'HOSPITAL', 'BANK_FINANCIAL_INSTITUTION', 'DEVELOPMENT_AGENCY', 'OTHER');

-- CreateEnum
CREATE TYPE "ProcurementStatus" AS ENUM ('DRAFT', 'PLANNED', 'ACTIVE', 'COMPLETED', 'CANCELLED', 'ARCHIVED');

-- CreateEnum
CREATE TYPE "ProcurementMethod" AS ENUM ('OPEN', 'RESTRICTED', 'REQUEST_FOR_QUOTATION', 'DIRECT', 'NEGOTIATED');

-- CreateEnum
CREATE TYPE "SolicitationType" AS ENUM ('RFI', 'RFQ', 'RFP', 'IFB', 'ITB', 'OTHER');

-- CreateEnum
CREATE TYPE "SolicitationStatus" AS ENUM ('DRAFT', 'PUBLISHED', 'OPEN', 'UNDER_EVALUATION', 'AWARDED', 'CLOSED', 'CANCELLED', 'SUSPENDED', 'ARCHIVED');

-- CreateEnum
CREATE TYPE "LotStatus" AS ENUM ('OPEN', 'CLOSED', 'AWARDED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "RequirementType" AS ENUM ('ELIGIBILITY', 'TECHNICAL', 'FINANCIAL', 'EXPERIENCE', 'COMPLIANCE', 'DOCUMENT', 'GENERAL');

-- CreateEnum
CREATE TYPE "BidStatus" AS ENUM ('DRAFT', 'SUBMITTED', 'UNDER_REVIEW', 'COMPLIANT', 'NON_COMPLIANT', 'SHORTLISTED', 'EVALUATED', 'WITHDRAWN', 'REJECTED', 'AWARDED');

-- CreateEnum
CREATE TYPE "EvaluationStatus" AS ENUM ('DRAFT', 'IN_PROGRESS', 'COMPLETED', 'APPROVED');

-- CreateEnum
CREATE TYPE "AwardStatus" AS ENUM ('PENDING', 'APPROVED', 'ACCEPTED', 'DECLINED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "ContractStatus" AS ENUM ('DRAFT', 'PENDING_SIGNATURE', 'ACTIVE', 'ON_HOLD', 'COMPLETED', 'TERMINATED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "MilestoneStatus" AS ENUM ('PENDING', 'IN_PROGRESS', 'COMPLETED', 'DELAYED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "ContractPaymentStatus" AS ENUM ('PENDING', 'APPROVED', 'PAID', 'FAILED', 'CANCELLED');

-- CreateEnum
CREATE TYPE "ComplianceCategory" AS ENUM ('TAX', 'REGISTRATION', 'LICENSING', 'INSURANCE', 'PROFESSIONAL', 'FINANCIAL', 'EXPERIENCE', 'OWNERSHIP', 'OTHER');

-- CreateEnum
CREATE TYPE "ClassificationType" AS ENUM ('NAICS', 'PSC', 'UNSPSC', 'CUSTOM');

-- CreateEnum
CREATE TYPE "DocumentStatus" AS ENUM ('PENDING', 'APPROVED', 'REJECTED', 'EXPIRED');

-- CreateEnum
CREATE TYPE "DocumentCategory" AS ENUM ('COMPANY_REGISTRATION_CERTIFICATE', 'CERTIFICATE_OF_INCORPORATION', 'TAX_IDENTIFICATION_CERTIFICATE', 'TAX_CLEARANCE_CERTIFICATE', 'TRADING_LICENSE', 'COMPANY_PROFILE', 'TECHNICAL_PROPOSAL', 'FINANCIAL_PROPOSAL', 'WORK_PLAN', 'METHODOLOGY', 'EXPERIENCE_CERTIFICATES', 'PREVIOUS_CONTRACTS', 'KEY_PERSONNEL_CV', 'PROFESSIONAL_CERTIFICATIONS', 'QUALITY_CERTIFICATE', 'INSURANCE_CERTIFICATE', 'BANK_ACCOUNT_CONFIRMATION', 'FINANCIAL_STATEMENTS', 'BID_SECURITY', 'MANUFACTURER_AUTHORIZATION', 'REFERENCES', 'SOLICITATION_DOCUMENT', 'CONTRACT_DOCUMENT', 'AWARD_DOCUMENT', 'OTHER');

-- CreateEnum
CREATE TYPE "OrganizationDocumentCategory" AS ENUM ('CERTIFICATE_OF_INCORPORATION', 'ARTICLES_OF_INCORPORATION', 'CERTIFICATE_OF_FORMATION', 'BUSINESS_REGISTRATION', 'CERTIFICATE_OF_GOOD_STANDING', 'TAX_IDENTIFICATION', 'TAX_CLEARANCE', 'BUSINESS_LICENSE', 'PROOF_OF_ADDRESS', 'AUTHORIZED_REPRESENTATIVE_ID', 'AUTHORIZATION_LETTER', 'OWNERSHIP_INFORMATION', 'BENEFICIAL_OWNERSHIP', 'GOVERNMENT_REGISTRATION', 'UEI_DOCUMENT', 'SAM_REGISTRATION', 'PROFESSIONAL_LICENSE', 'INSURANCE_CERTIFICATE', 'COMPANY_PROFILE', 'OTHER');

-- CreateEnum
CREATE TYPE "OrganizationVerificationStatus" AS ENUM ('NOT_SUBMITTED', 'DRAFT', 'SUBMITTED', 'UNDER_REVIEW', 'NEEDS_INFORMATION', 'APPROVED', 'REJECTED');

-- CreateEnum
CREATE TYPE "OrganizationVerificationCategory" AS ENUM ('LEGAL_IDENTITY', 'REGISTRATION', 'TAX', 'ADDRESS', 'REPRESENTATIVE', 'OWNERSHIP', 'LICENSING', 'GOVERNMENT_REGISTRATION', 'SANCTIONS_SCREENING', 'SUPPORTING_DOCUMENTATION', 'OTHER');

-- CreateEnum
CREATE TYPE "OrganizationVerificationCheckStatus" AS ENUM ('PENDING', 'PASSED', 'FAILED', 'NEEDS_INFORMATION', 'NOT_APPLICABLE');

-- CreateEnum
CREATE TYPE "NoticeType" AS ENUM ('GENERAL', 'SOLICITATION', 'ADDENDUM', 'CLARIFICATION', 'AWARD', 'CANCELLATION', 'CONTRACT');

-- CreateEnum
CREATE TYPE "PaymentType" AS ENUM ('SUBSCRIPTION', 'APPLICATION_FEE', 'REFUND', 'OTHER');

-- CreateEnum
CREATE TYPE "PaymentStatus" AS ENUM ('PENDING', 'PAID', 'FAILED', 'REFUNDED');

-- CreateEnum
CREATE TYPE "PaymentGatewayProvider" AS ENUM ('STRIPE', 'FLUTTERWAVE', 'PESAPAL', 'DEMO');

-- CreateEnum
CREATE TYPE "SubscriptionPlan" AS ENUM ('ORGANIZATION_STARTER', 'ORGANIZATION_PROFESSIONAL', 'ORGANIZATION_ENTERPRISE', 'VENDOR_FREE', 'VENDOR_PROFESSIONAL', 'VENDOR_PREMIUM');

-- CreateEnum
CREATE TYPE "SubscriptionStatus" AS ENUM ('ACTIVE', 'CANCELLED', 'EXPIRED', 'PENDING', 'TRIAL');

-- CreateEnum
CREATE TYPE "NotificationType" AS ENUM ('INFO', 'SUCCESS', 'WARNING', 'ERROR', 'SOLICITATION_PUBLISHED', 'SOLICITATION_CLOSING', 'BID_SUBMITTED', 'BID_WITHDRAWN', 'EVALUATION_COMPLETED', 'AWARD_NOTIFICATION', 'CONTRACT_NOTIFICATION', 'COMPLIANCE_EXPIRING', 'COMPLIANCE_EXPIRED', 'PAYMENT_RECEIVED');

-- CreateEnum
CREATE TYPE "IntegrationType" AS ENUM ('PROCUREMENT_PLATFORM', 'ACCOUNTING', 'ERP', 'PAYMENT', 'IDENTITY', 'GOVERNMENT', 'OTHER');

-- CreateEnum
CREATE TYPE "IntegrationStatus" AS ENUM ('ACTIVE', 'INACTIVE', 'ERROR', 'SUSPENDED');

-- CreateEnum
CREATE TYPE "IntegrationSyncStatus" AS ENUM ('RUNNING', 'SUCCESS', 'FAILED');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "phone" TEXT,
    "image" TEXT,
    "emailVerified" TIMESTAMP(3),
    "role" "UserRole" NOT NULL DEFAULT 'VENDOR',
    "status" "UserStatus" NOT NULL DEFAULT 'PENDING',
    "passwordResetToken" TEXT,
    "passwordResetExpires" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Account" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "providerAccountId" TEXT NOT NULL,
    "refresh_token" TEXT,
    "access_token" TEXT,
    "expires_at" INTEGER,
    "token_type" TEXT,
    "scope" TEXT,
    "id_token" TEXT,
    "session_state" TEXT,

    CONSTRAINT "Account_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Session" (
    "id" TEXT NOT NULL,
    "sessionToken" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VerificationToken" (
    "identifier" TEXT NOT NULL,
    "token" TEXT NOT NULL,
    "expires" TIMESTAMP(3) NOT NULL
);

-- CreateTable
CREATE TABLE "Organization" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "legalName" TEXT,
    "email" TEXT NOT NULL,
    "phone" TEXT,
    "website" TEXT,
    "address" TEXT,
    "logo" TEXT,
    "description" TEXT,
    "registrationNumber" TEXT,
    "taxNumber" TEXT,
    "organizationType" "OrganizationType",
    "countryId" TEXT,
    "currencyId" TEXT,
    "verifiedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Organization_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OrganizationMember" (
    "id" TEXT NOT NULL,
    "organizationId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "role" "OrganizationMemberRole" NOT NULL DEFAULT 'MEMBER',
    "departmentId" TEXT,
    "joinedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "OrganizationMember_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Department" (
    "id" TEXT NOT NULL,
    "organizationId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "code" TEXT,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Department_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OrganizationDocument" (
    "id" TEXT NOT NULL,
    "organizationId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "category" "OrganizationDocumentCategory" NOT NULL,
    "fileUrl" TEXT NOT NULL,
    "mimeType" TEXT,
    "fileSize" INTEGER,
    "status" "DocumentStatus" NOT NULL DEFAULT 'PENDING',
    "issuedAt" TIMESTAMP(3),
    "expiryDate" TIMESTAMP(3),
    "rejectionReason" TEXT,
    "uploadedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "OrganizationDocument_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OrganizationComplianceRequirement" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "category" "OrganizationVerificationCategory" NOT NULL,
    "description" TEXT,
    "required" BOOLEAN NOT NULL DEFAULT true,
    "validityDays" INTEGER,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "OrganizationComplianceRequirement_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OrganizationVerification" (
    "id" TEXT NOT NULL,
    "organizationId" TEXT NOT NULL,
    "status" "OrganizationVerificationStatus" NOT NULL DEFAULT 'NOT_SUBMITTED',
    "submittedAt" TIMESTAMP(3),
    "reviewedAt" TIMESTAMP(3),
    "reviewedById" TEXT,
    "rejectionReason" TEXT,
    "adminNotes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "OrganizationVerification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "OrganizationVerificationCheck" (
    "id" TEXT NOT NULL,
    "verificationId" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "category" "OrganizationVerificationCategory" NOT NULL,
    "description" TEXT,
    "required" BOOLEAN NOT NULL DEFAULT true,
    "status" "OrganizationVerificationCheckStatus" NOT NULL DEFAULT 'PENDING',
    "documentId" TEXT,
    "checkedAt" TIMESTAMP(3),
    "checkedById" TEXT,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "requirementId" TEXT,

    CONSTRAINT "OrganizationVerificationCheck_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Vendor" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "companyName" TEXT NOT NULL,
    "legalName" TEXT,
    "description" TEXT,
    "email" TEXT,
    "phone" TEXT,
    "website" TEXT,
    "address" TEXT,
    "registrationNumber" TEXT,
    "taxNumber" TEXT,
    "countryId" TEXT,
    "businessType" TEXT,
    "numberOfEmployees" INTEGER,
    "yearsOperating" INTEGER,
    "operatingLocations" TEXT,
    "portfolioDescription" TEXT,
    "verifiedAt" TIMESTAMP(3),
    "requirementSetId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Vendor_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VendorTeamMember" (
    "id" TEXT NOT NULL,
    "vendorId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT,
    "phone" TEXT,
    "position" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VendorTeamMember_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VendorDocument" (
    "id" TEXT NOT NULL,
    "vendorId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "category" "DocumentCategory" NOT NULL,
    "fileUrl" TEXT NOT NULL,
    "mimeType" TEXT,
    "fileSize" INTEGER,
    "status" "DocumentStatus" NOT NULL DEFAULT 'PENDING',
    "issuedAt" TIMESTAMP(3),
    "expiryDate" TIMESTAMP(3),
    "rejectionReason" TEXT,
    "uploadedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VendorDocument_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VendorCertification" (
    "id" TEXT NOT NULL,
    "vendorId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "issuingBody" TEXT,
    "certificateNumber" TEXT,
    "issuedAt" TIMESTAMP(3),
    "expiryDate" TIMESTAMP(3),
    "fileUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VendorCertification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VendorClassification" (
    "id" TEXT NOT NULL,
    "vendorId" TEXT NOT NULL,
    "classificationId" TEXT NOT NULL,
    "isPrimary" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "VendorClassification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VendorApplication" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "requirementSetId" TEXT,
    "status" "VendorApplicationStatus" NOT NULL DEFAULT 'DRAFT',
    "companyName" TEXT,
    "legalName" TEXT,
    "description" TEXT,
    "email" TEXT,
    "phone" TEXT,
    "website" TEXT,
    "address" TEXT,
    "registrationNumber" TEXT,
    "taxNumber" TEXT,
    "countryId" TEXT,
    "businessType" TEXT,
    "numberOfEmployees" INTEGER,
    "yearsOperating" INTEGER,
    "operatingLocations" TEXT,
    "portfolioDescription" TEXT,
    "submittedAt" TIMESTAMP(3),
    "reviewedAt" TIMESTAMP(3),
    "approvedAt" TIMESTAMP(3),
    "rejectedAt" TIMESTAMP(3),
    "adminNotes" TEXT,
    "rejectionReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VendorApplication_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VendorRequirement" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "category" "ComplianceCategory" NOT NULL,
    "required" BOOLEAN NOT NULL DEFAULT true,
    "validityDays" INTEGER,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "allowedDocumentCategories" "DocumentCategory"[] DEFAULT ARRAY[]::"DocumentCategory"[],
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VendorRequirement_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VendorRequirementSet" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VendorRequirementSet_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VendorRequirementSetRequirement" (
    "id" TEXT NOT NULL,
    "requirementSetId" TEXT NOT NULL,
    "requirementId" TEXT NOT NULL,
    "required" BOOLEAN NOT NULL DEFAULT true,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VendorRequirementSetRequirement_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VendorApplicationRequirement" (
    "id" TEXT NOT NULL,
    "applicationId" TEXT NOT NULL,
    "requirementId" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "category" "ComplianceCategory" NOT NULL,
    "required" BOOLEAN NOT NULL DEFAULT true,
    "status" "VendorApplicationRequirementStatus" NOT NULL DEFAULT 'OUTSTANDING',
    "notes" TEXT,
    "reviewedAt" TIMESTAMP(3),
    "reviewedById" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "VendorApplicationRequirement_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VendorApplicationEvidence" (
    "id" TEXT NOT NULL,
    "applicationId" TEXT NOT NULL,
    "requirementId" TEXT,
    "name" TEXT NOT NULL,
    "category" "DocumentCategory" NOT NULL,
    "fileUrl" TEXT NOT NULL,
    "mimeType" TEXT,
    "fileSize" INTEGER,
    "status" "VendorEvidenceStatus" NOT NULL DEFAULT 'PENDING',
    "issuedAt" TIMESTAMP(3),
    "expiryDate" TIMESTAMP(3),
    "rejectionReason" TEXT,
    "uploadedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "reviewedAt" TIMESTAMP(3),
    "reviewedById" TEXT,

    CONSTRAINT "VendorApplicationEvidence_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "VendorVerificationAction" (
    "id" TEXT NOT NULL,
    "applicationId" TEXT NOT NULL,
    "performedById" TEXT NOT NULL,
    "action" "VendorVerificationActionType" NOT NULL,
    "reason" TEXT,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "VendorVerificationAction_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Country" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "currencyCode" TEXT,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Country_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Currency" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "symbol" TEXT,
    "decimals" INTEGER NOT NULL DEFAULT 2,
    "active" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Currency_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Classification" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "type" "ClassificationType" NOT NULL,
    "parentId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Classification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Procurement" (
    "id" TEXT NOT NULL,
    "organizationId" TEXT NOT NULL,
    "departmentId" TEXT,
    "countryId" TEXT,
    "currencyId" TEXT,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "referenceNumber" TEXT NOT NULL,
    "status" "ProcurementStatus" NOT NULL DEFAULT 'DRAFT',
    "procurementMethod" "ProcurementMethod" NOT NULL DEFAULT 'OPEN',
    "estimatedValue" DECIMAL(18,2),
    "plannedStartDate" TIMESTAMP(3),
    "plannedEndDate" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Procurement_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Solicitation" (
    "id" TEXT NOT NULL,
    "procurementId" TEXT NOT NULL,
    "organizationId" TEXT NOT NULL,
    "currencyId" TEXT,
    "solicitationNumber" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "status" "SolicitationStatus" NOT NULL DEFAULT 'DRAFT',
    "type" "SolicitationType" NOT NULL DEFAULT 'RFP',
    "procurementMethod" "ProcurementMethod" NOT NULL DEFAULT 'OPEN',
    "publishedAt" TIMESTAMP(3),
    "openingDate" TIMESTAMP(3),
    "closingDate" TIMESTAMP(3),
    "estimatedValue" DECIMAL(18,2),
    "bidSecurityRequired" BOOLEAN NOT NULL DEFAULT false,
    "bidSecurityAmount" DECIMAL(18,2),
    "applicationFeeRequired" BOOLEAN NOT NULL DEFAULT false,
    "applicationFeeAmount" DECIMAL(18,2),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Solicitation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Lot" (
    "id" TEXT NOT NULL,
    "solicitationId" TEXT NOT NULL,
    "number" INTEGER NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "estimatedValue" DECIMAL(18,2),
    "status" "LotStatus" NOT NULL DEFAULT 'OPEN',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Lot_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Requirement" (
    "id" TEXT NOT NULL,
    "solicitationId" TEXT,
    "lotId" TEXT,
    "type" "RequirementType" NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "isMandatory" BOOLEAN NOT NULL DEFAULT true,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Requirement_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SolicitationClassification" (
    "id" TEXT NOT NULL,
    "solicitationId" TEXT NOT NULL,
    "classificationId" TEXT NOT NULL,

    CONSTRAINT "SolicitationClassification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SolicitationDocument" (
    "id" TEXT NOT NULL,
    "solicitationId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "category" "DocumentCategory" NOT NULL,
    "fileUrl" TEXT NOT NULL,
    "mimeType" TEXT,
    "fileSize" INTEGER,
    "version" INTEGER NOT NULL DEFAULT 1,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SolicitationDocument_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Bid" (
    "id" TEXT NOT NULL,
    "solicitationId" TEXT NOT NULL,
    "lotId" TEXT NOT NULL,
    "vendorId" TEXT NOT NULL,
    "submittedById" TEXT NOT NULL,
    "currencyId" TEXT,
    "bidNumber" TEXT NOT NULL,
    "status" "BidStatus" NOT NULL DEFAULT 'DRAFT',
    "title" TEXT,
    "summary" TEXT,
    "totalAmount" DECIMAL(18,2) NOT NULL,
    "submittedAt" TIMESTAMP(3),
    "lockedAt" TIMESTAMP(3),
    "withdrawalReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Bid_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BidDocument" (
    "id" TEXT NOT NULL,
    "bidId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "category" "DocumentCategory" NOT NULL,
    "fileUrl" TEXT NOT NULL,
    "mimeType" TEXT,
    "fileSize" INTEGER,
    "status" "DocumentStatus" NOT NULL DEFAULT 'PENDING',
    "uploadedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "reviewedAt" TIMESTAMP(3),
    "reviewedById" TEXT,
    "rejectionReason" TEXT,

    CONSTRAINT "BidDocument_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BidRequirementResponse" (
    "id" TEXT NOT NULL,
    "bidId" TEXT NOT NULL,
    "requirementId" TEXT NOT NULL,
    "response" TEXT,
    "booleanValue" BOOLEAN,
    "numericValue" DECIMAL(18,4),
    "evidenceUrl" TEXT,
    "compliant" BOOLEAN,
    "reviewerComment" TEXT,
    "reviewedAt" TIMESTAMP(3),
    "reviewedById" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BidRequirementResponse_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EvaluationCriterion" (
    "id" TEXT NOT NULL,
    "solicitationId" TEXT,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "weight" DECIMAL(8,4) NOT NULL,
    "maxScore" DECIMAL(8,2) NOT NULL DEFAULT 100,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "lotId" TEXT,

    CONSTRAINT "EvaluationCriterion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Evaluation" (
    "id" TEXT NOT NULL,
    "bidId" TEXT NOT NULL,
    "evaluatorId" TEXT NOT NULL,
    "status" "EvaluationStatus" NOT NULL DEFAULT 'DRAFT',
    "totalScore" DECIMAL(10,4) NOT NULL DEFAULT 0,
    "comments" TEXT,
    "startedAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Evaluation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "EvaluationScore" (
    "id" TEXT NOT NULL,
    "evaluationId" TEXT NOT NULL,
    "criterionId" TEXT NOT NULL,
    "score" DECIMAL(10,4) NOT NULL,
    "weightedScore" DECIMAL(10,4) NOT NULL,
    "comment" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "EvaluationScore_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Award" (
    "id" TEXT NOT NULL,
    "solicitationId" TEXT NOT NULL,
    "lotId" TEXT NOT NULL,
    "bidId" TEXT NOT NULL,
    "vendorId" TEXT NOT NULL,
    "awardNumber" TEXT NOT NULL,
    "status" "AwardStatus" NOT NULL DEFAULT 'PENDING',
    "awardAmount" DECIMAL(18,2) NOT NULL,
    "awardDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Award_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Contract" (
    "id" TEXT NOT NULL,
    "awardId" TEXT NOT NULL,
    "vendorId" TEXT NOT NULL,
    "organizationId" TEXT,
    "contractNumber" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "status" "ContractStatus" NOT NULL DEFAULT 'DRAFT',
    "contractValue" DECIMAL(18,2) NOT NULL,
    "startDate" TIMESTAMP(3),
    "endDate" TIMESTAMP(3),
    "signedAt" TIMESTAMP(3),
    "completedAt" TIMESTAMP(3),
    "terminatedAt" TIMESTAMP(3),
    "terminationReason" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Contract_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ContractDocument" (
    "id" TEXT NOT NULL,
    "contractId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "category" "DocumentCategory" NOT NULL,
    "fileUrl" TEXT NOT NULL,
    "mimeType" TEXT,
    "fileSize" INTEGER,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ContractDocument_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ContractMilestone" (
    "id" TEXT NOT NULL,
    "contractId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT,
    "dueDate" TIMESTAMP(3),
    "amount" DECIMAL(18,2),
    "status" "MilestoneStatus" NOT NULL DEFAULT 'PENDING',
    "completedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ContractMilestone_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ContractPayment" (
    "id" TEXT NOT NULL,
    "contractId" TEXT NOT NULL,
    "amount" DECIMAL(18,2) NOT NULL,
    "currencyId" TEXT,
    "paymentDate" TIMESTAMP(3),
    "status" "ContractPaymentStatus" NOT NULL DEFAULT 'PENDING',
    "reference" TEXT,
    "notes" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ContractPayment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Notice" (
    "id" TEXT NOT NULL,
    "organizationId" TEXT,
    "solicitationId" TEXT,
    "title" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "type" "NoticeType" NOT NULL DEFAULT 'GENERAL',
    "published" BOOLEAN NOT NULL DEFAULT false,
    "publishedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Notice_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SavedSolicitation" (
    "id" TEXT NOT NULL,
    "vendorId" TEXT NOT NULL,
    "solicitationId" TEXT NOT NULL,
    "savedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "userId" TEXT,

    CONSTRAINT "SavedSolicitation_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Notification" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "message" TEXT NOT NULL,
    "type" "NotificationType" NOT NULL DEFAULT 'INFO',
    "read" BOOLEAN NOT NULL DEFAULT false,
    "link" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Notification_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Payment" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "currencyId" TEXT,
    "amount" DECIMAL(18,2) NOT NULL,
    "reference" TEXT NOT NULL,
    "transactionId" TEXT,
    "type" "PaymentType" NOT NULL,
    "status" "PaymentStatus" NOT NULL DEFAULT 'PENDING',
    "provider" "PaymentGatewayProvider",
    "checkoutUrl" TEXT,
    "failureReason" TEXT,
    "paidAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Payment_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Subscription" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "organizationId" TEXT,
    "plan" "SubscriptionPlan" NOT NULL,
    "status" "SubscriptionStatus" NOT NULL DEFAULT 'ACTIVE',
    "startDate" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "endDate" TIMESTAMP(3),
    "autoRenew" BOOLEAN NOT NULL DEFAULT false,
    "price" DECIMAL(18,2) NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Subscription_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Integration" (
    "id" TEXT NOT NULL,
    "organizationId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "provider" TEXT NOT NULL,
    "type" "IntegrationType" NOT NULL,
    "status" "IntegrationStatus" NOT NULL DEFAULT 'INACTIVE',
    "configuration" JSONB,
    "lastSyncAt" TIMESTAMP(3),
    "lastError" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Integration_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "IntegrationSyncLog" (
    "id" TEXT NOT NULL,
    "integrationId" TEXT NOT NULL,
    "status" "IntegrationSyncStatus" NOT NULL,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completedAt" TIMESTAMP(3),
    "recordsProcessed" INTEGER NOT NULL DEFAULT 0,
    "errorMessage" TEXT,

    CONSTRAINT "IntegrationSyncLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProcurementActivity" (
    "id" TEXT NOT NULL,
    "procurementId" TEXT NOT NULL,
    "performedById" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ProcurementActivity_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SolicitationActivity" (
    "id" TEXT NOT NULL,
    "solicitationId" TEXT NOT NULL,
    "performedById" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SolicitationActivity_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ApplicationActivity" (
    "id" TEXT NOT NULL,
    "bidId" TEXT,
    "performedById" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ApplicationActivity_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ContractActivity" (
    "id" TEXT NOT NULL,
    "contractId" TEXT NOT NULL,
    "performedById" TEXT NOT NULL,
    "action" TEXT NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ContractActivity_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AuditLog" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "action" TEXT NOT NULL,
    "entity" TEXT,
    "entityId" TEXT,
    "description" TEXT,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "metadata" JSONB,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "TenderStatusHistory" (
    "id" TEXT NOT NULL,
    "solicitationId" TEXT,
    "oldStatus" "SolicitationStatus",
    "status" "SolicitationStatus" NOT NULL,
    "reason" TEXT,
    "notes" TEXT,
    "changedBy" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "TenderStatusHistory_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "News" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "summary" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "image" TEXT,
    "published" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "News_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "User_phone_key" ON "User"("phone");

-- CreateIndex
CREATE UNIQUE INDEX "User_passwordResetToken_key" ON "User"("passwordResetToken");

-- CreateIndex
CREATE INDEX "Account_userId_idx" ON "Account"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "Account_provider_providerAccountId_key" ON "Account"("provider", "providerAccountId");

-- CreateIndex
CREATE UNIQUE INDEX "Session_sessionToken_key" ON "Session"("sessionToken");

-- CreateIndex
CREATE INDEX "Session_userId_idx" ON "Session"("userId");

-- CreateIndex
CREATE UNIQUE INDEX "VerificationToken_token_key" ON "VerificationToken"("token");

-- CreateIndex
CREATE UNIQUE INDEX "VerificationToken_identifier_token_key" ON "VerificationToken"("identifier", "token");

-- CreateIndex
CREATE UNIQUE INDEX "Organization_email_key" ON "Organization"("email");

-- CreateIndex
CREATE INDEX "Organization_name_idx" ON "Organization"("name");

-- CreateIndex
CREATE INDEX "Organization_countryId_idx" ON "Organization"("countryId");

-- CreateIndex
CREATE INDEX "OrganizationMember_organizationId_idx" ON "OrganizationMember"("organizationId");

-- CreateIndex
CREATE INDEX "OrganizationMember_userId_idx" ON "OrganizationMember"("userId");

-- CreateIndex
CREATE INDEX "OrganizationMember_departmentId_idx" ON "OrganizationMember"("departmentId");

-- CreateIndex
CREATE UNIQUE INDEX "OrganizationMember_organizationId_userId_key" ON "OrganizationMember"("organizationId", "userId");

-- CreateIndex
CREATE INDEX "Department_organizationId_idx" ON "Department"("organizationId");

-- CreateIndex
CREATE UNIQUE INDEX "Department_organizationId_name_key" ON "Department"("organizationId", "name");

-- CreateIndex
CREATE INDEX "OrganizationDocument_organizationId_idx" ON "OrganizationDocument"("organizationId");

-- CreateIndex
CREATE INDEX "OrganizationDocument_category_idx" ON "OrganizationDocument"("category");

-- CreateIndex
CREATE INDEX "OrganizationDocument_status_idx" ON "OrganizationDocument"("status");

-- CreateIndex
CREATE INDEX "OrganizationDocument_expiryDate_idx" ON "OrganizationDocument"("expiryDate");

-- CreateIndex
CREATE UNIQUE INDEX "OrganizationComplianceRequirement_code_key" ON "OrganizationComplianceRequirement"("code");

-- CreateIndex
CREATE INDEX "OrganizationComplianceRequirement_category_idx" ON "OrganizationComplianceRequirement"("category");

-- CreateIndex
CREATE INDEX "OrganizationComplianceRequirement_active_idx" ON "OrganizationComplianceRequirement"("active");

-- CreateIndex
CREATE INDEX "OrganizationComplianceRequirement_required_idx" ON "OrganizationComplianceRequirement"("required");

-- CreateIndex
CREATE UNIQUE INDEX "OrganizationVerification_organizationId_key" ON "OrganizationVerification"("organizationId");

-- CreateIndex
CREATE INDEX "OrganizationVerification_status_idx" ON "OrganizationVerification"("status");

-- CreateIndex
CREATE INDEX "OrganizationVerification_reviewedById_idx" ON "OrganizationVerification"("reviewedById");

-- CreateIndex
CREATE INDEX "OrganizationVerificationCheck_verificationId_idx" ON "OrganizationVerificationCheck"("verificationId");

-- CreateIndex
CREATE INDEX "OrganizationVerificationCheck_requirementId_idx" ON "OrganizationVerificationCheck"("requirementId");

-- CreateIndex
CREATE INDEX "OrganizationVerificationCheck_status_idx" ON "OrganizationVerificationCheck"("status");

-- CreateIndex
CREATE INDEX "OrganizationVerificationCheck_category_idx" ON "OrganizationVerificationCheck"("category");

-- CreateIndex
CREATE INDEX "OrganizationVerificationCheck_documentId_idx" ON "OrganizationVerificationCheck"("documentId");

-- CreateIndex
CREATE INDEX "OrganizationVerificationCheck_checkedById_idx" ON "OrganizationVerificationCheck"("checkedById");

-- CreateIndex
CREATE UNIQUE INDEX "OrganizationVerificationCheck_verificationId_code_key" ON "OrganizationVerificationCheck"("verificationId", "code");

-- CreateIndex
CREATE UNIQUE INDEX "Vendor_userId_key" ON "Vendor"("userId");

-- CreateIndex
CREATE INDEX "Vendor_companyName_idx" ON "Vendor"("companyName");

-- CreateIndex
CREATE INDEX "Vendor_countryId_idx" ON "Vendor"("countryId");

-- CreateIndex
CREATE INDEX "Vendor_requirementSetId_idx" ON "Vendor"("requirementSetId");

-- CreateIndex
CREATE INDEX "VendorTeamMember_vendorId_idx" ON "VendorTeamMember"("vendorId");

-- CreateIndex
CREATE INDEX "VendorDocument_vendorId_idx" ON "VendorDocument"("vendorId");

-- CreateIndex
CREATE INDEX "VendorDocument_category_idx" ON "VendorDocument"("category");

-- CreateIndex
CREATE INDEX "VendorDocument_expiryDate_idx" ON "VendorDocument"("expiryDate");

-- CreateIndex
CREATE INDEX "VendorCertification_vendorId_idx" ON "VendorCertification"("vendorId");

-- CreateIndex
CREATE INDEX "VendorCertification_expiryDate_idx" ON "VendorCertification"("expiryDate");

-- CreateIndex
CREATE INDEX "VendorClassification_vendorId_idx" ON "VendorClassification"("vendorId");

-- CreateIndex
CREATE INDEX "VendorClassification_classificationId_idx" ON "VendorClassification"("classificationId");

-- CreateIndex
CREATE UNIQUE INDEX "VendorClassification_vendorId_classificationId_key" ON "VendorClassification"("vendorId", "classificationId");

-- CreateIndex
CREATE UNIQUE INDEX "VendorApplication_userId_key" ON "VendorApplication"("userId");

-- CreateIndex
CREATE INDEX "VendorApplication_status_idx" ON "VendorApplication"("status");

-- CreateIndex
CREATE INDEX "VendorApplication_countryId_idx" ON "VendorApplication"("countryId");

-- CreateIndex
CREATE INDEX "VendorApplication_requirementSetId_idx" ON "VendorApplication"("requirementSetId");

-- CreateIndex
CREATE INDEX "VendorApplication_submittedAt_idx" ON "VendorApplication"("submittedAt");

-- CreateIndex
CREATE UNIQUE INDEX "VendorRequirement_code_key" ON "VendorRequirement"("code");

-- CreateIndex
CREATE INDEX "VendorRequirement_category_idx" ON "VendorRequirement"("category");

-- CreateIndex
CREATE INDEX "VendorRequirement_active_idx" ON "VendorRequirement"("active");

-- CreateIndex
CREATE INDEX "VendorRequirement_required_idx" ON "VendorRequirement"("required");

-- CreateIndex
CREATE UNIQUE INDEX "VendorRequirementSet_code_key" ON "VendorRequirementSet"("code");

-- CreateIndex
CREATE INDEX "VendorRequirementSet_active_idx" ON "VendorRequirementSet"("active");

-- CreateIndex
CREATE INDEX "VendorRequirementSetRequirement_requirementSetId_idx" ON "VendorRequirementSetRequirement"("requirementSetId");

-- CreateIndex
CREATE INDEX "VendorRequirementSetRequirement_requirementId_idx" ON "VendorRequirementSetRequirement"("requirementId");

-- CreateIndex
CREATE INDEX "VendorRequirementSetRequirement_active_idx" ON "VendorRequirementSetRequirement"("active");

-- CreateIndex
CREATE INDEX "VendorRequirementSetRequirement_required_idx" ON "VendorRequirementSetRequirement"("required");

-- CreateIndex
CREATE UNIQUE INDEX "VendorRequirementSetRequirement_requirementSetId_requiremen_key" ON "VendorRequirementSetRequirement"("requirementSetId", "requirementId");

-- CreateIndex
CREATE INDEX "VendorApplicationRequirement_applicationId_idx" ON "VendorApplicationRequirement"("applicationId");

-- CreateIndex
CREATE INDEX "VendorApplicationRequirement_requirementId_idx" ON "VendorApplicationRequirement"("requirementId");

-- CreateIndex
CREATE INDEX "VendorApplicationRequirement_status_idx" ON "VendorApplicationRequirement"("status");

-- CreateIndex
CREATE INDEX "VendorApplicationRequirement_reviewedById_idx" ON "VendorApplicationRequirement"("reviewedById");

-- CreateIndex
CREATE UNIQUE INDEX "VendorApplicationRequirement_applicationId_requirementId_key" ON "VendorApplicationRequirement"("applicationId", "requirementId");

-- CreateIndex
CREATE INDEX "VendorApplicationEvidence_applicationId_idx" ON "VendorApplicationEvidence"("applicationId");

-- CreateIndex
CREATE INDEX "VendorApplicationEvidence_requirementId_idx" ON "VendorApplicationEvidence"("requirementId");

-- CreateIndex
CREATE INDEX "VendorApplicationEvidence_category_idx" ON "VendorApplicationEvidence"("category");

-- CreateIndex
CREATE INDEX "VendorApplicationEvidence_status_idx" ON "VendorApplicationEvidence"("status");

-- CreateIndex
CREATE INDEX "VendorApplicationEvidence_expiryDate_idx" ON "VendorApplicationEvidence"("expiryDate");

-- CreateIndex
CREATE INDEX "VendorApplicationEvidence_reviewedById_idx" ON "VendorApplicationEvidence"("reviewedById");

-- CreateIndex
CREATE INDEX "VendorVerificationAction_applicationId_idx" ON "VendorVerificationAction"("applicationId");

-- CreateIndex
CREATE INDEX "VendorVerificationAction_performedById_idx" ON "VendorVerificationAction"("performedById");

-- CreateIndex
CREATE INDEX "VendorVerificationAction_action_idx" ON "VendorVerificationAction"("action");

-- CreateIndex
CREATE INDEX "VendorVerificationAction_createdAt_idx" ON "VendorVerificationAction"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "Country_code_key" ON "Country"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Country_name_key" ON "Country"("name");

-- CreateIndex
CREATE UNIQUE INDEX "Currency_code_key" ON "Currency"("code");

-- CreateIndex
CREATE INDEX "Classification_type_idx" ON "Classification"("type");

-- CreateIndex
CREATE INDEX "Classification_parentId_idx" ON "Classification"("parentId");

-- CreateIndex
CREATE UNIQUE INDEX "Classification_type_code_key" ON "Classification"("type", "code");

-- CreateIndex
CREATE UNIQUE INDEX "Procurement_referenceNumber_key" ON "Procurement"("referenceNumber");

-- CreateIndex
CREATE INDEX "Procurement_organizationId_idx" ON "Procurement"("organizationId");

-- CreateIndex
CREATE INDEX "Procurement_departmentId_idx" ON "Procurement"("departmentId");

-- CreateIndex
CREATE INDEX "Procurement_status_idx" ON "Procurement"("status");

-- CreateIndex
CREATE INDEX "Procurement_countryId_idx" ON "Procurement"("countryId");

-- CreateIndex
CREATE UNIQUE INDEX "Solicitation_solicitationNumber_key" ON "Solicitation"("solicitationNumber");

-- CreateIndex
CREATE INDEX "Solicitation_procurementId_idx" ON "Solicitation"("procurementId");

-- CreateIndex
CREATE INDEX "Solicitation_organizationId_idx" ON "Solicitation"("organizationId");

-- CreateIndex
CREATE INDEX "Solicitation_status_idx" ON "Solicitation"("status");

-- CreateIndex
CREATE INDEX "Solicitation_closingDate_idx" ON "Solicitation"("closingDate");

-- CreateIndex
CREATE INDEX "Solicitation_publishedAt_idx" ON "Solicitation"("publishedAt");

-- CreateIndex
CREATE INDEX "Lot_solicitationId_idx" ON "Lot"("solicitationId");

-- CreateIndex
CREATE INDEX "Lot_status_idx" ON "Lot"("status");

-- CreateIndex
CREATE UNIQUE INDEX "Lot_solicitationId_number_key" ON "Lot"("solicitationId", "number");

-- CreateIndex
CREATE INDEX "Requirement_solicitationId_idx" ON "Requirement"("solicitationId");

-- CreateIndex
CREATE INDEX "Requirement_lotId_idx" ON "Requirement"("lotId");

-- CreateIndex
CREATE INDEX "Requirement_type_idx" ON "Requirement"("type");

-- CreateIndex
CREATE INDEX "SolicitationClassification_solicitationId_idx" ON "SolicitationClassification"("solicitationId");

-- CreateIndex
CREATE INDEX "SolicitationClassification_classificationId_idx" ON "SolicitationClassification"("classificationId");

-- CreateIndex
CREATE UNIQUE INDEX "SolicitationClassification_solicitationId_classificationId_key" ON "SolicitationClassification"("solicitationId", "classificationId");

-- CreateIndex
CREATE INDEX "SolicitationDocument_solicitationId_idx" ON "SolicitationDocument"("solicitationId");

-- CreateIndex
CREATE UNIQUE INDEX "Bid_bidNumber_key" ON "Bid"("bidNumber");

-- CreateIndex
CREATE INDEX "Bid_solicitationId_idx" ON "Bid"("solicitationId");

-- CreateIndex
CREATE INDEX "Bid_lotId_idx" ON "Bid"("lotId");

-- CreateIndex
CREATE INDEX "Bid_vendorId_idx" ON "Bid"("vendorId");

-- CreateIndex
CREATE INDEX "Bid_status_idx" ON "Bid"("status");

-- CreateIndex
CREATE UNIQUE INDEX "Bid_vendorId_solicitationId_lotId_key" ON "Bid"("vendorId", "solicitationId", "lotId");

-- CreateIndex
CREATE INDEX "BidDocument_bidId_idx" ON "BidDocument"("bidId");

-- CreateIndex
CREATE INDEX "BidDocument_category_idx" ON "BidDocument"("category");

-- CreateIndex
CREATE INDEX "BidDocument_status_idx" ON "BidDocument"("status");

-- CreateIndex
CREATE INDEX "BidDocument_reviewedById_idx" ON "BidDocument"("reviewedById");

-- CreateIndex
CREATE INDEX "BidRequirementResponse_bidId_idx" ON "BidRequirementResponse"("bidId");

-- CreateIndex
CREATE INDEX "BidRequirementResponse_requirementId_idx" ON "BidRequirementResponse"("requirementId");

-- CreateIndex
CREATE INDEX "BidRequirementResponse_reviewedById_idx" ON "BidRequirementResponse"("reviewedById");

-- CreateIndex
CREATE UNIQUE INDEX "BidRequirementResponse_bidId_requirementId_key" ON "BidRequirementResponse"("bidId", "requirementId");

-- CreateIndex
CREATE INDEX "EvaluationCriterion_solicitationId_idx" ON "EvaluationCriterion"("solicitationId");

-- CreateIndex
CREATE INDEX "EvaluationCriterion_lotId_idx" ON "EvaluationCriterion"("lotId");

-- CreateIndex
CREATE INDEX "Evaluation_bidId_idx" ON "Evaluation"("bidId");

-- CreateIndex
CREATE INDEX "Evaluation_evaluatorId_idx" ON "Evaluation"("evaluatorId");

-- CreateIndex
CREATE INDEX "Evaluation_status_idx" ON "Evaluation"("status");

-- CreateIndex
CREATE UNIQUE INDEX "Evaluation_bidId_evaluatorId_key" ON "Evaluation"("bidId", "evaluatorId");

-- CreateIndex
CREATE INDEX "EvaluationScore_evaluationId_idx" ON "EvaluationScore"("evaluationId");

-- CreateIndex
CREATE INDEX "EvaluationScore_criterionId_idx" ON "EvaluationScore"("criterionId");

-- CreateIndex
CREATE UNIQUE INDEX "EvaluationScore_evaluationId_criterionId_key" ON "EvaluationScore"("evaluationId", "criterionId");

-- CreateIndex
CREATE UNIQUE INDEX "Award_bidId_key" ON "Award"("bidId");

-- CreateIndex
CREATE UNIQUE INDEX "Award_awardNumber_key" ON "Award"("awardNumber");

-- CreateIndex
CREATE INDEX "Award_solicitationId_idx" ON "Award"("solicitationId");

-- CreateIndex
CREATE INDEX "Award_lotId_idx" ON "Award"("lotId");

-- CreateIndex
CREATE INDEX "Award_vendorId_idx" ON "Award"("vendorId");

-- CreateIndex
CREATE INDEX "Award_status_idx" ON "Award"("status");

-- CreateIndex
CREATE UNIQUE INDEX "Contract_awardId_key" ON "Contract"("awardId");

-- CreateIndex
CREATE UNIQUE INDEX "Contract_contractNumber_key" ON "Contract"("contractNumber");

-- CreateIndex
CREATE INDEX "Contract_vendorId_idx" ON "Contract"("vendorId");

-- CreateIndex
CREATE INDEX "Contract_organizationId_idx" ON "Contract"("organizationId");

-- CreateIndex
CREATE INDEX "Contract_status_idx" ON "Contract"("status");

-- CreateIndex
CREATE INDEX "Contract_endDate_idx" ON "Contract"("endDate");

-- CreateIndex
CREATE INDEX "ContractDocument_contractId_idx" ON "ContractDocument"("contractId");

-- CreateIndex
CREATE INDEX "ContractMilestone_contractId_idx" ON "ContractMilestone"("contractId");

-- CreateIndex
CREATE INDEX "ContractMilestone_status_idx" ON "ContractMilestone"("status");

-- CreateIndex
CREATE INDEX "ContractMilestone_dueDate_idx" ON "ContractMilestone"("dueDate");

-- CreateIndex
CREATE INDEX "ContractPayment_contractId_idx" ON "ContractPayment"("contractId");

-- CreateIndex
CREATE INDEX "ContractPayment_currencyId_idx" ON "ContractPayment"("currencyId");

-- CreateIndex
CREATE INDEX "ContractPayment_status_idx" ON "ContractPayment"("status");

-- CreateIndex
CREATE INDEX "Notice_organizationId_idx" ON "Notice"("organizationId");

-- CreateIndex
CREATE INDEX "Notice_solicitationId_idx" ON "Notice"("solicitationId");

-- CreateIndex
CREATE INDEX "Notice_published_idx" ON "Notice"("published");

-- CreateIndex
CREATE INDEX "SavedSolicitation_vendorId_idx" ON "SavedSolicitation"("vendorId");

-- CreateIndex
CREATE INDEX "SavedSolicitation_solicitationId_idx" ON "SavedSolicitation"("solicitationId");

-- CreateIndex
CREATE UNIQUE INDEX "SavedSolicitation_vendorId_solicitationId_key" ON "SavedSolicitation"("vendorId", "solicitationId");

-- CreateIndex
CREATE INDEX "Notification_userId_idx" ON "Notification"("userId");

-- CreateIndex
CREATE INDEX "Notification_userId_read_idx" ON "Notification"("userId", "read");

-- CreateIndex
CREATE INDEX "Notification_createdAt_idx" ON "Notification"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "Payment_reference_key" ON "Payment"("reference");

-- CreateIndex
CREATE INDEX "Payment_userId_idx" ON "Payment"("userId");

-- CreateIndex
CREATE INDEX "Payment_currencyId_idx" ON "Payment"("currencyId");

-- CreateIndex
CREATE INDEX "Payment_status_idx" ON "Payment"("status");

-- CreateIndex
CREATE INDEX "Payment_type_idx" ON "Payment"("type");

-- CreateIndex
CREATE INDEX "Payment_transactionId_idx" ON "Payment"("transactionId");

-- CreateIndex
CREATE INDEX "Subscription_userId_idx" ON "Subscription"("userId");

-- CreateIndex
CREATE INDEX "Subscription_organizationId_idx" ON "Subscription"("organizationId");

-- CreateIndex
CREATE INDEX "Subscription_plan_idx" ON "Subscription"("plan");

-- CreateIndex
CREATE INDEX "Subscription_status_idx" ON "Subscription"("status");

-- CreateIndex
CREATE INDEX "Integration_organizationId_idx" ON "Integration"("organizationId");

-- CreateIndex
CREATE INDEX "Integration_status_idx" ON "Integration"("status");

-- CreateIndex
CREATE UNIQUE INDEX "Integration_organizationId_provider_key" ON "Integration"("organizationId", "provider");

-- CreateIndex
CREATE INDEX "IntegrationSyncLog_integrationId_idx" ON "IntegrationSyncLog"("integrationId");

-- CreateIndex
CREATE INDEX "IntegrationSyncLog_startedAt_idx" ON "IntegrationSyncLog"("startedAt");

-- CreateIndex
CREATE INDEX "ProcurementActivity_procurementId_idx" ON "ProcurementActivity"("procurementId");

-- CreateIndex
CREATE INDEX "ProcurementActivity_performedById_idx" ON "ProcurementActivity"("performedById");

-- CreateIndex
CREATE INDEX "ProcurementActivity_createdAt_idx" ON "ProcurementActivity"("createdAt");

-- CreateIndex
CREATE INDEX "SolicitationActivity_solicitationId_idx" ON "SolicitationActivity"("solicitationId");

-- CreateIndex
CREATE INDEX "SolicitationActivity_performedById_idx" ON "SolicitationActivity"("performedById");

-- CreateIndex
CREATE INDEX "SolicitationActivity_createdAt_idx" ON "SolicitationActivity"("createdAt");

-- CreateIndex
CREATE INDEX "ApplicationActivity_bidId_idx" ON "ApplicationActivity"("bidId");

-- CreateIndex
CREATE INDEX "ApplicationActivity_performedById_idx" ON "ApplicationActivity"("performedById");

-- CreateIndex
CREATE INDEX "ApplicationActivity_createdAt_idx" ON "ApplicationActivity"("createdAt");

-- CreateIndex
CREATE INDEX "ContractActivity_contractId_idx" ON "ContractActivity"("contractId");

-- CreateIndex
CREATE INDEX "ContractActivity_performedById_idx" ON "ContractActivity"("performedById");

-- CreateIndex
CREATE INDEX "ContractActivity_createdAt_idx" ON "ContractActivity"("createdAt");

-- CreateIndex
CREATE INDEX "AuditLog_userId_idx" ON "AuditLog"("userId");

-- CreateIndex
CREATE INDEX "AuditLog_entity_entityId_idx" ON "AuditLog"("entity", "entityId");

-- CreateIndex
CREATE INDEX "AuditLog_createdAt_idx" ON "AuditLog"("createdAt");

-- CreateIndex
CREATE INDEX "TenderStatusHistory_solicitationId_idx" ON "TenderStatusHistory"("solicitationId");

-- CreateIndex
CREATE INDEX "TenderStatusHistory_status_idx" ON "TenderStatusHistory"("status");

-- CreateIndex
CREATE INDEX "TenderStatusHistory_createdAt_idx" ON "TenderStatusHistory"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "News_slug_key" ON "News"("slug");

-- AddForeignKey
ALTER TABLE "Account" ADD CONSTRAINT "Account_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Session" ADD CONSTRAINT "Session_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Organization" ADD CONSTRAINT "Organization_countryId_fkey" FOREIGN KEY ("countryId") REFERENCES "Country"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Organization" ADD CONSTRAINT "Organization_currencyId_fkey" FOREIGN KEY ("currencyId") REFERENCES "Currency"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrganizationMember" ADD CONSTRAINT "OrganizationMember_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "Department"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrganizationMember" ADD CONSTRAINT "OrganizationMember_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES "Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrganizationMember" ADD CONSTRAINT "OrganizationMember_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Department" ADD CONSTRAINT "Department_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES "Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrganizationDocument" ADD CONSTRAINT "OrganizationDocument_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES "Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrganizationVerification" ADD CONSTRAINT "OrganizationVerification_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES "Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrganizationVerification" ADD CONSTRAINT "OrganizationVerification_reviewedById_fkey" FOREIGN KEY ("reviewedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrganizationVerificationCheck" ADD CONSTRAINT "OrganizationVerificationCheck_checkedById_fkey" FOREIGN KEY ("checkedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrganizationVerificationCheck" ADD CONSTRAINT "OrganizationVerificationCheck_documentId_fkey" FOREIGN KEY ("documentId") REFERENCES "OrganizationDocument"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrganizationVerificationCheck" ADD CONSTRAINT "OrganizationVerificationCheck_requirementId_fkey" FOREIGN KEY ("requirementId") REFERENCES "OrganizationComplianceRequirement"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "OrganizationVerificationCheck" ADD CONSTRAINT "OrganizationVerificationCheck_verificationId_fkey" FOREIGN KEY ("verificationId") REFERENCES "OrganizationVerification"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Vendor" ADD CONSTRAINT "Vendor_countryId_fkey" FOREIGN KEY ("countryId") REFERENCES "Country"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Vendor" ADD CONSTRAINT "Vendor_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Vendor" ADD CONSTRAINT "Vendor_requirementSetId_fkey" FOREIGN KEY ("requirementSetId") REFERENCES "VendorRequirementSet"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendorTeamMember" ADD CONSTRAINT "VendorTeamMember_vendorId_fkey" FOREIGN KEY ("vendorId") REFERENCES "Vendor"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendorDocument" ADD CONSTRAINT "VendorDocument_vendorId_fkey" FOREIGN KEY ("vendorId") REFERENCES "Vendor"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendorCertification" ADD CONSTRAINT "VendorCertification_vendorId_fkey" FOREIGN KEY ("vendorId") REFERENCES "Vendor"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendorClassification" ADD CONSTRAINT "VendorClassification_classificationId_fkey" FOREIGN KEY ("classificationId") REFERENCES "Classification"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendorClassification" ADD CONSTRAINT "VendorClassification_vendorId_fkey" FOREIGN KEY ("vendorId") REFERENCES "Vendor"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendorApplication" ADD CONSTRAINT "VendorApplication_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendorApplication" ADD CONSTRAINT "VendorApplication_countryId_fkey" FOREIGN KEY ("countryId") REFERENCES "Country"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendorApplication" ADD CONSTRAINT "VendorApplication_requirementSetId_fkey" FOREIGN KEY ("requirementSetId") REFERENCES "VendorRequirementSet"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendorRequirementSetRequirement" ADD CONSTRAINT "VendorRequirementSetRequirement_requirementSetId_fkey" FOREIGN KEY ("requirementSetId") REFERENCES "VendorRequirementSet"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendorRequirementSetRequirement" ADD CONSTRAINT "VendorRequirementSetRequirement_requirementId_fkey" FOREIGN KEY ("requirementId") REFERENCES "VendorRequirement"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendorApplicationRequirement" ADD CONSTRAINT "VendorApplicationRequirement_applicationId_fkey" FOREIGN KEY ("applicationId") REFERENCES "VendorApplication"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendorApplicationRequirement" ADD CONSTRAINT "VendorApplicationRequirement_requirementId_fkey" FOREIGN KEY ("requirementId") REFERENCES "VendorRequirement"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendorApplicationRequirement" ADD CONSTRAINT "VendorApplicationRequirement_reviewedById_fkey" FOREIGN KEY ("reviewedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendorApplicationEvidence" ADD CONSTRAINT "VendorApplicationEvidence_applicationId_fkey" FOREIGN KEY ("applicationId") REFERENCES "VendorApplication"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendorApplicationEvidence" ADD CONSTRAINT "VendorApplicationEvidence_requirementId_fkey" FOREIGN KEY ("requirementId") REFERENCES "VendorApplicationRequirement"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendorApplicationEvidence" ADD CONSTRAINT "VendorApplicationEvidence_reviewedById_fkey" FOREIGN KEY ("reviewedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendorVerificationAction" ADD CONSTRAINT "VendorVerificationAction_applicationId_fkey" FOREIGN KEY ("applicationId") REFERENCES "VendorApplication"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "VendorVerificationAction" ADD CONSTRAINT "VendorVerificationAction_performedById_fkey" FOREIGN KEY ("performedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Country" ADD CONSTRAINT "Country_currencyCode_fkey" FOREIGN KEY ("currencyCode") REFERENCES "Currency"("code") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Classification" ADD CONSTRAINT "Classification_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES "Classification"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Procurement" ADD CONSTRAINT "Procurement_countryId_fkey" FOREIGN KEY ("countryId") REFERENCES "Country"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Procurement" ADD CONSTRAINT "Procurement_currencyId_fkey" FOREIGN KEY ("currencyId") REFERENCES "Currency"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Procurement" ADD CONSTRAINT "Procurement_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES "Department"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Procurement" ADD CONSTRAINT "Procurement_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES "Organization"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Solicitation" ADD CONSTRAINT "Solicitation_currencyId_fkey" FOREIGN KEY ("currencyId") REFERENCES "Currency"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Solicitation" ADD CONSTRAINT "Solicitation_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES "Organization"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Solicitation" ADD CONSTRAINT "Solicitation_procurementId_fkey" FOREIGN KEY ("procurementId") REFERENCES "Procurement"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Lot" ADD CONSTRAINT "Lot_solicitationId_fkey" FOREIGN KEY ("solicitationId") REFERENCES "Solicitation"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Requirement" ADD CONSTRAINT "Requirement_lotId_fkey" FOREIGN KEY ("lotId") REFERENCES "Lot"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Requirement" ADD CONSTRAINT "Requirement_solicitationId_fkey" FOREIGN KEY ("solicitationId") REFERENCES "Solicitation"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SolicitationClassification" ADD CONSTRAINT "SolicitationClassification_classificationId_fkey" FOREIGN KEY ("classificationId") REFERENCES "Classification"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SolicitationClassification" ADD CONSTRAINT "SolicitationClassification_solicitationId_fkey" FOREIGN KEY ("solicitationId") REFERENCES "Solicitation"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SolicitationDocument" ADD CONSTRAINT "SolicitationDocument_solicitationId_fkey" FOREIGN KEY ("solicitationId") REFERENCES "Solicitation"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Bid" ADD CONSTRAINT "Bid_currencyId_fkey" FOREIGN KEY ("currencyId") REFERENCES "Currency"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Bid" ADD CONSTRAINT "Bid_lotId_fkey" FOREIGN KEY ("lotId") REFERENCES "Lot"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Bid" ADD CONSTRAINT "Bid_solicitationId_fkey" FOREIGN KEY ("solicitationId") REFERENCES "Solicitation"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Bid" ADD CONSTRAINT "Bid_submittedById_fkey" FOREIGN KEY ("submittedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Bid" ADD CONSTRAINT "Bid_vendorId_fkey" FOREIGN KEY ("vendorId") REFERENCES "Vendor"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BidDocument" ADD CONSTRAINT "BidDocument_bidId_fkey" FOREIGN KEY ("bidId") REFERENCES "Bid"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BidDocument" ADD CONSTRAINT "BidDocument_reviewedById_fkey" FOREIGN KEY ("reviewedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BidRequirementResponse" ADD CONSTRAINT "BidRequirementResponse_bidId_fkey" FOREIGN KEY ("bidId") REFERENCES "Bid"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BidRequirementResponse" ADD CONSTRAINT "BidRequirementResponse_requirementId_fkey" FOREIGN KEY ("requirementId") REFERENCES "Requirement"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BidRequirementResponse" ADD CONSTRAINT "BidRequirementResponse_reviewedById_fkey" FOREIGN KEY ("reviewedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EvaluationCriterion" ADD CONSTRAINT "EvaluationCriterion_lotId_fkey" FOREIGN KEY ("lotId") REFERENCES "Lot"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EvaluationCriterion" ADD CONSTRAINT "EvaluationCriterion_solicitationId_fkey" FOREIGN KEY ("solicitationId") REFERENCES "Solicitation"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Evaluation" ADD CONSTRAINT "Evaluation_bidId_fkey" FOREIGN KEY ("bidId") REFERENCES "Bid"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Evaluation" ADD CONSTRAINT "Evaluation_evaluatorId_fkey" FOREIGN KEY ("evaluatorId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EvaluationScore" ADD CONSTRAINT "EvaluationScore_criterionId_fkey" FOREIGN KEY ("criterionId") REFERENCES "EvaluationCriterion"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "EvaluationScore" ADD CONSTRAINT "EvaluationScore_evaluationId_fkey" FOREIGN KEY ("evaluationId") REFERENCES "Evaluation"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Award" ADD CONSTRAINT "Award_bidId_fkey" FOREIGN KEY ("bidId") REFERENCES "Bid"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Award" ADD CONSTRAINT "Award_lotId_fkey" FOREIGN KEY ("lotId") REFERENCES "Lot"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Award" ADD CONSTRAINT "Award_solicitationId_fkey" FOREIGN KEY ("solicitationId") REFERENCES "Solicitation"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Award" ADD CONSTRAINT "Award_vendorId_fkey" FOREIGN KEY ("vendorId") REFERENCES "Vendor"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Contract" ADD CONSTRAINT "Contract_awardId_fkey" FOREIGN KEY ("awardId") REFERENCES "Award"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Contract" ADD CONSTRAINT "Contract_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES "Organization"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Contract" ADD CONSTRAINT "Contract_vendorId_fkey" FOREIGN KEY ("vendorId") REFERENCES "Vendor"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ContractDocument" ADD CONSTRAINT "ContractDocument_contractId_fkey" FOREIGN KEY ("contractId") REFERENCES "Contract"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ContractMilestone" ADD CONSTRAINT "ContractMilestone_contractId_fkey" FOREIGN KEY ("contractId") REFERENCES "Contract"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ContractPayment" ADD CONSTRAINT "ContractPayment_contractId_fkey" FOREIGN KEY ("contractId") REFERENCES "Contract"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ContractPayment" ADD CONSTRAINT "ContractPayment_currencyId_fkey" FOREIGN KEY ("currencyId") REFERENCES "Currency"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notice" ADD CONSTRAINT "Notice_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES "Organization"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notice" ADD CONSTRAINT "Notice_solicitationId_fkey" FOREIGN KEY ("solicitationId") REFERENCES "Solicitation"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SavedSolicitation" ADD CONSTRAINT "SavedSolicitation_solicitationId_fkey" FOREIGN KEY ("solicitationId") REFERENCES "Solicitation"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SavedSolicitation" ADD CONSTRAINT "SavedSolicitation_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SavedSolicitation" ADD CONSTRAINT "SavedSolicitation_vendorId_fkey" FOREIGN KEY ("vendorId") REFERENCES "Vendor"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Notification" ADD CONSTRAINT "Notification_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Payment" ADD CONSTRAINT "Payment_currencyId_fkey" FOREIGN KEY ("currencyId") REFERENCES "Currency"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Payment" ADD CONSTRAINT "Payment_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Subscription" ADD CONSTRAINT "Subscription_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES "Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Subscription" ADD CONSTRAINT "Subscription_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Integration" ADD CONSTRAINT "Integration_organizationId_fkey" FOREIGN KEY ("organizationId") REFERENCES "Organization"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "IntegrationSyncLog" ADD CONSTRAINT "IntegrationSyncLog_integrationId_fkey" FOREIGN KEY ("integrationId") REFERENCES "Integration"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProcurementActivity" ADD CONSTRAINT "ProcurementActivity_performedById_fkey" FOREIGN KEY ("performedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ProcurementActivity" ADD CONSTRAINT "ProcurementActivity_procurementId_fkey" FOREIGN KEY ("procurementId") REFERENCES "Procurement"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SolicitationActivity" ADD CONSTRAINT "SolicitationActivity_performedById_fkey" FOREIGN KEY ("performedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SolicitationActivity" ADD CONSTRAINT "SolicitationActivity_solicitationId_fkey" FOREIGN KEY ("solicitationId") REFERENCES "Solicitation"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApplicationActivity" ADD CONSTRAINT "ApplicationActivity_bidId_fkey" FOREIGN KEY ("bidId") REFERENCES "Bid"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ApplicationActivity" ADD CONSTRAINT "ApplicationActivity_performedById_fkey" FOREIGN KEY ("performedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ContractActivity" ADD CONSTRAINT "ContractActivity_contractId_fkey" FOREIGN KEY ("contractId") REFERENCES "Contract"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ContractActivity" ADD CONSTRAINT "ContractActivity_performedById_fkey" FOREIGN KEY ("performedById") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditLog" ADD CONSTRAINT "AuditLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "TenderStatusHistory" ADD CONSTRAINT "TenderStatusHistory_changedBy_fkey" FOREIGN KEY ("changedBy") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

